.temp-card{
    color: rgb(255 255 255);
    margin-left: 3rem;
    padding-top: 18rem;
}


/* @media(max-width:576px){
    .temp-card{
        padding: 5rem 0;
    }
} */
@media(max-width:767.98px){
    .temp-card{
        padding: 4rem 0;
    }
}
@media(min-width:768px) and (max-width:1399.98px){
    .temp-card{
        padding-top: 14rem;
    }
}
@media(min-width:1400px){
    .temp-card{
        padding-top: 18rem;
    }
}
