body{
  overflow-x: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* to set the bg img width and height */
.current-weather{
  min-height: 100vh;
  width: 100vw;
}
/* to make the radar component responsive according to the screen size */
.iframe{
  position:relative;
  width: inherit;
  height: 80vh;
}
/* to make a dark overlay to make the text display brighter */
.overlay{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  background:rgba(0, 0, 0, 0.5);
  height: 100vh;
}
/* code to make element transparent and allow scroll */
.glass{
  background: rgba(158, 158, 158, 0.49);
  height: 100vh;
  overflow-y:scroll;
  backdrop-filter: blur(2px);
}

/* for mobile or small screens remove the scroll  */
@media(max-width:576px){
  .glass{
    height: auto;
  }

}
/* @media(max-width:768px){
  .glass{
    height: 100vh;
    overflow-y:scroll;
  }

} */