body{
  overflow-x: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.current-weather{
  /* background-image: url('/public/few-clouds.jpg'); */
  min-height: 100vh;
  width: 100vw;
}
.iframe{
  position:relative;
  width: inherit;
  height: 70vh;
}
.overlay{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  background:rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.glass{
  background: rgba(158, 158, 158, 0.49);
  height: 100vh;
  overflow-y:scroll;
  backdrop-filter: blur(2px);
}


@media(max-width:576px){
  .glass{
    height: auto;
  }

}
/* @media(max-width:768px){
  .glass{
    height: 100vh;
    overflow-y:scroll;
  }

} */